<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand js-scroll-trigger" href="#page-top"><img src="../assets/img/cielo.png" class="img-fluid" /></a>

  <button class="navbar-toggler" type="button"
          (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse"
       [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a [routerLink]="['/cielo']">Home</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/api-site']">API</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/contato']">Contato</a>
      </li>
    </ul>
  </div>
</nav>


