section.container {
  background-image: url('../../../assets/img/bg-total.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 1000px;
  margin-top: 30px;
  padding: 10px;
  position: absolute;
  width: 100%;
  z-index: -1;
}
