<section class="container">
  <app-navbar></app-navbar>
  <app-content></app-content>
  <div class="row">
    <!-- Heading Row -->
    <div class="row align-items-right my-5">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/ap1.png" alt="">
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/ap2.png" alt="">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <div class="row">
    <!-- Heading Row -->
    <div class="row align-items-right my-5">
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/ap3.png" alt="">
      </div>
      <div class="col-lg-6">
        <img class="img-fluid rounded mb-4 mb-lg-0" src="../../assets/img/ap4.png" alt="">
      </div>
    </div>
    <!-- /.row -->
  </div>
  <app-footer></app-footer>
</section>





